@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#lapor-card {
  background-image: url("/assets/background/bg-lapor.png");
  background-size: cover;
  background-position: center;
}
