@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#lapor-card {
  background-image: url("/assets/background/bg-lapor.png");
  background-size: cover;
  background-position: center;
}

#kemerdekaan-landing {
  background-image: url("/assets/background/bg-kemerdekaan.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
/* #tahu-sumedang-layanan {
  background-image: url("");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; */
/* } */

.quill-editor .ql-container {
  min-height: 300px; /* tinggi area editor */
}

.quill-editor .ql-editor {
  min-height: 300px; /* tinggi area teks */
  font-size: 16px; /* biar lebih enak dibaca */
  line-height: 1.6;
}
